<h1>edit</h1>
<h1>Welcome to Happy !</h1>
<h3>Let's start with your values</h3>

<p>
  email: <%= @profile.email %>
  <br>
  id: <%= @profile.id %>
</p>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-profile-creation">
        <h2>Select 3 core values</h2>
        <%= simple_form_for (@profile), url: talent_session_path do |f| %>
          <!-- Inject categories here -->
          <div class="form-group">
            <input type="hidden" name="post[value_ids][]" value="">

            <div class="value-choices">
              <% Value.all.each do |value| %>
                <input type="checkbox" class="hidden" value="<%= value.id %>" name="talent[value_ids][]" id="talent_value_ids_<%= value.id %>">
                <label class="value-choice" for="talent_value_ids_<%= value.id %>">
                  <%= value.name %>
                </label>
              <% end %>
             </div>

          </div>

          <!-- Inject categories here -->
          <%= f.input :first_name, placeholder: "Patricio" %>
          <%= f.input :last_name, placeholder: "Perez" %>
          <%= f.input :position, collection: ["Developper", "Designer"], prompt: "Which position" %>
          <%= f.input :experience, placeholder: "6 years" %>
          <%= f.input :avatar %>
          <%= f.input :avatar_cache, as: :hidden %>
          <%= f.submit "Save", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<!--
<div class="form-group">
  <input type="hidden" name="post[value_ids][]" value="">

  <div class="value-choices">
    <% Value.all.each do |value| %>
      <input type="checkbox" class="hidden" value="<%= value.id %>" name="talent[value_ids][]" id="talent_value_ids_<%= value.id %>">
      <label for="talent_value_ids_<%= value.id %>">
        <%= value.name %>
      </label>
    <% end %>
   </div>

</div>

 -->

