<div class="wrapper-test">
  <div class="grand-container">
    <div class="container-test-1">
      <div class="profile-infos">
        <%= cl_image_tag @profile.avatar, width: 150, height: 150, id:"image" %>
        <div class="basic-infos">
          <div class="basic-infos-text">
            <h3><%= @profile.first_name%> <%= @profile.last_name%></h3>
            <p><%= @profile.position.name%> - Experience : <%= @profile.experience%> </p>
            <a href=<%= @profile.url_linkedin%> target="_blank" ><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="values-list">
          <% @profile.values.each do |value| %>
            <div class="value-carte-1">
              <input type="checkbox" class="hidden" value="<%= value.id %>" name="talent[value_ids][]" id="talent_value_ids_<%= value.id %>">
              <div class="value-card cible">
                <div class="effect-gauche"></div>
                <%= cl_image_tag("Happy/#{value.name}.svg", height: 50, width: 33, crop: :fill, class: "valeur-svg-blanc") %>
                <div class="effect-droite"></div>
              </div>
              <p><%= value.name %></p>
            </div>

            <!-- <div class="value-carte">
              <input type="checkbox" class="hidden" value="<%= value.id %>" name="talent[value_ids][]" id="talent_value_ids_<%= value.id %>">
              <label class="value-card cible" for="talent_value_ids_<%= value.id %>">
                <div class="effect-left"></div>
                <%= cl_image_tag(value.icone.url, height: 35, width: 25, crop: :fill ) %>
                <div class="effect-right"></div>
              </label>
              <p><%= value.name %></p>
            </div> -->



          <% end %>
        </div>
      </div>
    </div>
    <div class="container-test-2">
      <h2> Follow and get updates from your favorite companies </h2>
      <div class="row">
        <% company_array = [] %>
        <% current_talent.values.each do |value| %>
          <% CompanyValue.all.each do |companyvalue| %>
            <% if companyvalue.value_id == value.id %>
            <% company_array << [Company.find(companyvalue.company_id), value] %>
            <% end %>
          <% end %>
        <% end %>

        <% counts = Hash.new(0) %>
        <% list_values = Hash.new{ |h, k| h[k] = [] } %>
        <% company_array.each do |company| %>
          <% counts[company[0]] += 1 %>
          <% list_values[company[0]] << company[1] %>
        <% end %>

        <% counts = counts.sort_by {|k,v| v}.reverse.to_h %>

        <% counts.each do |company, y|  %>
        <div class="col-lg-6">
          <% if current_talent.following?(company) %>
            <div id='<%= "company_card_#{company.id}" %>'>
              <%= render '../views/companies/followcard', company: company %>
            </div>
          <% else %>
            <div id='<%= "company_card_#{company.id}" %>'>
              <%= render '../views/companies/unfollowcard', company: company %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>

      <div >
        <%= link_to "Go to my feed", feeds_path, class: "btn-float" %>
      </div>
    </div>

  </div>

</div>


<!-- <div class="wrapper">
  <div style="padding-top:100px;"></div>
  <h1>Your profile is ready!</h1>
  <div class="container">
    <div class="basic-infos">
      <%= cl_image_tag @profile.avatar, width: 150, height: 150, :radius=>"max" %>
      <div class="basic-infos-text">
        <h3><%= @profile.first_name%> <%= @profile.last_name%></h3>
        <p><%= @profile.position.name%> - Experience : <%= @profile.experience%> </p>
        <a href=<%= @profile.url_linkedin%> target="_blank" ><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="values-list">
      <% @profile.values.each do |value| %> -->
        <!-- <input type="checkbox" class="hidden" value="<%= value.id %>" name="talent[value_ids][]" id="talent_value_ids_<%= value.id %>"> -->
        <!-- <div class="value-card cible">
          <div class="effect-left"></div>
          <%= cl_image_tag(value.icone.url, height: 75, width: 100, crop: :fill) %>
          <p><%= value.name %></p>
          <i class="fas fa-check"></i>
          <div class="effect-right"></div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="container">
    <h2> My Matches </h2>
    <div class="row">
      <% company_array = [] %>
      <% @profile.values.each do |value| %>
        <% CompanyValue.all.each do |companyvalue| %>
          <% if companyvalue.value_id == value.id %>
          <% company_array << [Company.find(companyvalue.company_id).name, value] %>
          <% end %>
        <% end %>
      <% end %>
      <% counts = Hash.new(0) %>
      <% list_values = Hash.new{ |h, k| h[k] = [] } %>
      <% company_array.each do |company| %>
        <% counts[company[0]] += 1 %>
        <% list_values[company[0]] << company[1] %>
      <% end %>

      <% counts = counts.sort_by {|k,v| v}.reverse.to_h %>

      <% counts.each do |x, y|  %>
      <% current_company = Company.find_by(name: x) %>
        <div class="col-xs-12">

            <div class="company-value-ranked">
              <% if current_talent.following?(current_company) %>
                <div class="company-card-validate cible">
                  <div class="card-background-validate"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path current_company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
                    <div class="card-btn">
                      <%= link_to "Followed", unfollow_path(current_company.id), class: "btn-unfollow-company", id: "unfollow-btn-#{current_company.id}"%>
                    </div>
                    <div class="card-score">
                      <% if y == 3 %>
                      <h3> <%= ((y.to_f / 3)*100).to_i  %> % </h3>
                      <% elsif y == 2 %>
                      <h3> <%= ((y.to_f / 3)*100).to_i  %> % </h3>
                      <% elsif y == 1 %>
                      <h3> <%= ((y.to_f / 3)*100).to_i  %> % </h3>
                      <% end %>
                    </div>
                    <p class="card-description"><%= current_company.name %></p>
                  </div>
                </div>
              <% else %>
                <div class="company-card cible">
                  <div class="effect-left"></div>
                    <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path current_company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
                    <div class="card-btn">
                      <%= link_to "Follow", follow_path(current_company.id), class: "btn-follow-company"%>
                    </div>
                    <div class="card-score">
                      <% if y == 3 %>
                      <h3> <%= ((y.to_f / 3)*100).to_i  %> % </h3>
                      <% elsif y == 2 %>
                      <h3> <%= ((y.to_f / 3)*100).to_i  %> % </h3>
                      <% elsif y == 1 %>
                      <h3> <%= ((y.to_f / 3)*100).to_i  %> % </h3>
                      <% end %>
                    </div>
                    <p class="card-description"><%= current_company.name %></p>
                    </div>
                  <div class="effect-right"></div>
                </div>
              <% end %>
              <div class="company-values-match">
                <% list_values[x].each do |n| %>
                  <div class="value-card cible">
                    <div class="effect-left"></div>
                    <%= cl_image_tag(n.icone.url, height: 75, width: 100, crop: :fill) %>
                    <p><%= n.name %></p>
                    <i class="fas fa-check"></i>
                    <div class="effect-right"></div>
                  </div>
                <% end %>
              </div>
            </div>


        </div>

      <% end  %>

    </div>
  </div>

  <div class="CTA">
    <%= link_to "Go to my Feed", feeds_path, class: "btn-standard" %>
  </div>
 -->

</div>


<!-- <div class="container">
    <% company_array = [] %>
    <% @profile.values.each do |value| %>
      <% CompanyValue.all.each do |companyvalue| %>
        <% if companyvalue.value_id == value.id %>
        <% company_array << Company.find(companyvalue.company_id).name %>
        <% end %>
      <% end %>
    <% end %>
    <% counts = Hash.new(0) %>
    <% company_array.each do |company| %>
      <% counts[company] += 1 %>
    <% end %>
    <% counts.each do |x, y|  %>
      <% if y == 3 %>
        <p><%= x %> - <%= ((y.to_f / 3)*100).to_i  %>% <% list_values[x].each do |n| %>
          - <%= n.name %>
          <% end %>
        </p>
      <% elsif y == 2 %>
        <p><%= x %> - <%= ((y.to_f / 3)*100).to_i  %>% <% list_values[x].each do |n| %>
        - <%= n.name %>
        <% end %> </p>
      <% elsif y == 1 %>
        <p><%= x %> - <%= ((y.to_f / 3)*100).to_i  %>% <% list_values[x].each do |n| %>
        - <%= n.name %>
        <% end %> </p>
      <% end %>
    <% end  %>
  </div> -->



