<div class="wrapper">
  <div style="padding-top:100px;"></div>
  <h1>Your profile is ready!</h1>
  <div class="container">
    <div class="basic-infos">
      <%= cl_image_tag @profile.avatar, width: 150, height: 150, :radius=>"max" %>
      <div class="basic-infos-text">
        <h3><%= @profile.first_name%> <%= @profile.last_name%></h3>
        <p><%= @profile.position.name%> - Experience : <%= @profile.experience%> </p>
        <a href=<%= @profile.url_linkedin%> target="_blank" >Linkedin Profile</a>
      </div>
    </div>
    <div class="values-list">
      <% @profile.values.each do |value| %>
        <!-- <input type="checkbox" class="hidden" value="<%= value.id %>" name="talent[value_ids][]" id="talent_value_ids_<%= value.id %>"> -->
        <div class="value-card cible">
          <div class="effect-left"></div>
          <%= cl_image_tag(value.icone.url, height: 75, width: 100, crop: :fill) %>
          <p><%= value.name %></p>
          <i class="fas fa-check"></i>
          <div class="effect-right"></div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "All your matches", companies_path, class: "btn-standard" %>

  <div class="container">
    <% company_array = [] %>
    <% @profile.values.each do |value| %>
      <% CompanyValue.all.each do |companyvalue| %>
        <% if companyvalue.value_id == value.id %>
        <% company_array << Company.find(companyvalue.company_id).name %>
        <% end %>
      <% end %>
    <% end %>
    <% counts = Hash.new(0) %>
    <% company_array.each do |company| %>
      <% counts[company] += 1 %>
    <% end %>
    <% counts.each do |x, y|  %>
      <% if y == 3 %>
        <p><%= x %> - 100% </p>
      <% elsif y == 2 %>
        <p><%= x %> - 66% </p>
      <% elsif y == 1 %>
        <p><%= x %> - 33% </p>
      <% end %>
    <% end  %>
  </div>
</div>







