

<div class="main-container">

  <div class="left-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542591906-e6f20a01152d?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80);">
  </div>

  <div class="login-container">
    <div class="login-elements">
      <h1>Find your next move</h1>
      <h2>HAPPY helps you to find companies sharing your values</h2>
      <div class="login-buttons">
          <%= link_to "SIGN IN", new_talent_session_path, class: "btn-standard" %>
          <%= link_to "SIGN UP", new_talent_registration_path, class: "btn-standard" %>
      </div>
    </div>
  </div>

</div>
<div class="wrapper-support">
  <div class= "support">
    <h2>They support Happy</h2>
  </div>
  <div class="sponsors">
    <%= image_tag "Le-wagon.png", class: "logo-sponsors" %>
    <%= image_tag "La-French-Tech.png", class: "logo-sponsors" %>
    <%= image_tag "business-france.png", class: "logo-sponsors" %>
  </div>
</div>

