
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="left-screen">
    <div class="banner-content">
      <%= image_tag "happy-logo.svg", height: 150, class: "logo"%>
      <div class="welcome-text">
        <h1>Find your next move</h1>
        <p> Identify companies that share your values</p>
      </div>
      <a href="#all-companies" class="btn-standard">SEE ALL COMPANIES</a>
    </div>
  </div>
  <div class="right-screen">
  </div>
</div>


<div class="wrapper" id="home">
<!--   <div class="container-test"> -->
  <div class="container panel" id="all-companies">
    <p>Follow and get updates from your favorite companies</p>

    <div class="row">
      <% Company.all.first(4).each do |company|  %>
      <div class="col-lg-6">
        <div class="company-card cible">
          <div class="effect-left"></div>
          <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('<%= cl_image_path company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
            <%= link_to "Follow", new_talent_registration_path, class: "btn-follow-company card-btn" %>
            <div class="card-value-all">
              <% company.values.each do |valeur| %>
                <div class="card-value">
                  <%= cl_image_tag(valeur.icone.url, height: 75, width: 50, crop: :fill) %>
                </div>
              <% end %>
            </div>
            <p class="card-name"><%= company.name %></p>
            <div class="card-description">
              <p><%= company.description %></p>
            </div>
          </div>
          <div class="effect-right"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>














<!--
old stuff -->
<!--
<div class="wrapper">
  <div class="container panel" id="all-companies">
    <div class="row"> -->
<!--       <% Company.all.each do |company| %>
      <div class="col-lg-6">
          <div class="company-card cible">
              <div class="effect-left">
              </div>
                <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
                <div class="card-btn">
                  <%= link_to "Follow", connexion_path, class: "btn-follow-company"%>
                </div>
                <p class="card-description"><%= company.name %></p>
                </div>
              <div class="effect-right">
              </div>
          </div>
          <br>
      </div>
      <% end %> -->
<!--     </div>
  </div>
</div> -->

</div>
<div class="wrapper-support">
    <h2>Meet our happy users</h2>
  <div class="sponsors">
    <div class="sponsor">
      <div>
        <h2 class= "testimony-quote">"The first platform to put values at the center of job hunting"
        </h2>
      </div>
      <%= image_tag "nora.png", class: "avatar" %>
      <h4>Nora</h4>
    </div>
    <div class="sponsor">
       <h2 class= "testimony-quote">"People you work with and values you work for are more important than your job"
        </h2>
      <%= image_tag "Mat.jpg", class: "avatar" %>
      <h4>Mathieu</h4>
      <div>
      </div>
    </div>
    <div class="sponsor">
       <h2 class= "testimony-quote">"Thanks to Happy I found my dream job"
        </h2>
      <%= image_tag "romain.jpeg", class: "avatar" %>
      <h4>Romain</h4>
      <div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
<div class="wrapper-support">
  <div class= "support">
    <h2>They support Happy</h2>
  </div>
  <div class="sponsors">
    <%= image_tag "Le-wagon.png", class: "logo-sponsors" %>
    <%= image_tag "La-French-Tech.png", class: "logo-sponsors" %>
    <%= image_tag "business-france.png", class: "logo-sponsors" %>
  </div>
</div>


