
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="left-screen">
    <div class="banner-content">
      <%= image_tag "logo.png", height: 80, class: "logo"%>
      <div class="welcome-text">
        <h1>Find your next move</h1>
        <p> Let's look for companies that share your values</p>
      </div>
      <a href="#all-companies" class="btn-standard">SEE ALL COMPANIES</a>
    </div>
  </div>
  <div class="right-screen">
  </div>
</div>


<div class="wrapper">
  <div class="container panel" id="all-companies">
    <div class="row">
      <% Company.all.each do |company| %>
      <div class="col-lg-6">
          <div class="company-card cible">
              <div class="effect-left">
              </div>
                <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
                <div class="card-btn">
                  <%= link_to "Follow", connexion_path, class: "btn-follow-company"%>
                </div>
                <p class="card-description"><%= company.name %></p>
                </div>
              <div class="effect-right">
              </div>
          </div>
          <br>
      </div>
      <% end %>
    </div>
  </div>
</div>

</div>
<div class="wrapper-support">
  <div class= "support">
    <h2>They support Happy:</h2>
  </div>
  <div class="sponsors">
    <%= image_tag "Le-wagon.png", class: "logo-sponsors" %>
    <%= image_tag "La-French-Tech.png", class: "logo-sponsors" %>
    <%= image_tag "business-france.png", class: "logo-sponsors" %>
  </div>
</div>


