

<h1>Happy, find your next move with HAPPY</h1>
<h2>Happy, find your next move with HAPPY</h2>
<h3>Happy, find your next move with HAPPY</h3>
<p>Happy, find your next move with HAPPY</p>


<div class=value-card-validate>
  <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
  <p><%= Value.last.name %></p>
  <i class="fas fa-check"></i>
</div>

<br>
<br>

<div class=value-card>
  <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
  <p><%= Value.last.name %></p>
  <i class="fas fa-check"></i>
</div>


<br>
<br>

<div class=value-card>
  <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
  <p><%= Value.last.name %></p>
  <i class="fas fa-check"></i>
</div>


