
<h1>Happy, find your next move with HAPPY</h1>
<!-- <h2>Happy, find your next move with HAPPY</h2>
<h3>Happy, find your next move with HAPPY</h3> -->
<p>Happy, find your next move with HAPPY</p>


<div class="row">
  <div class="col-lg-6 col-md-offset-5">

    <div class="value-card-validate">
      <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
      <p><%= Value.last.name %></p>
      <i class="fas fa-check"></i>
    </div>

    <br>
    <br>

    <div class="value-card cible">
      <div class="effect-left">
      </div>
      <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
      <p><%= Value.last.name %></p>
      <i class="fas fa-check"></i>
      <div class="effect-right">
      </div>
    </div>

  <div style="margin:100px;">
  </div>

  <div>

    <%= link_to "SIGN IN", new_talent_session_path, class: "btn-standard"%>
  </div>

    <div style="margin:100px;">
  </div>

  <div>
    <%= link_to "SIGN UP", new_talent_registration_path, class: "btn-color" %>
  </div>

     <div style="margin:100px;">
  </div>

  <div>
    <%= link_to "Follow", new_talent_registration_path, class: "btn-follow" %>
  </div>


     <div style="margin:100px;">
  </div>

  <div>
    <%= link_to "Following", new_talent_registration_path, class: "btn-followed" %>
  </div>
    <br>
    <br>

    <div class="value-card cible">
      <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
      <p><%= Value.last.name %></p>
      <i class="fas fa-check"></i>
    </div>

 </div>
</div>
