


<div class="row">
  <div class="col-lg-6 col-md-offset-5">
<br>
<br>
<br>
<br>
<br>

<!--   <%= link_to "SIGN IN", new_talent_session_path, class: "btn-standard"%> -->
  <%# @companies.each do |company| %>
  <div class="company-card cible">
      <div class="effect-left">
      </div>
        <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path Company.last.teampicture.url, height: 300, width: 400, crop: :fill %>');">
        <div class="card-logo">
        <%= cl_image_tag(Company.last.logo.url, :transformation=>[
          {:radius=>"max"},
          {:height=>10},
          {:width=>10},
          {:crop=>"circle"}
          ]) %>
         <!-- height: 75, width: 100, crop: :thumb, radius: :max) %> -->
        </div>
        <p class="card-description"><%= Company.last.name %></p>
        </div>
  <!--       <i class="fas fa-check"></i> -->
      <div class="effect-right">
      </div>
  </div>
<%# end %>
 </div>

<!--     <div class="value-card-validate">
      <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
      <p><%= Value.last.name %></p>
      <i class="fas fa-check"></i>
    </div>

    <br>
    <br>

    <div class="value-card cible">
      <div class="effect-left">
      </div>
      <%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %>
      <p><%= Value.last.name %></p>
      <i class="fas fa-check"></i>
      <div class="effect-right">
      </div>
    </div>
 -->
<!--   <div style="margin:50px;"> -->
  </div>
</div>
