
<h3> Test sweet alert here </h3>



<br>

<button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>




<br>
<br>



<!-- const pop = getElementByID("popup");
pop.addEventListener("submit", (e) => {
  swal("Hello world!");
});
 -->




<h3> Test sweet alert up here </h3>
<br>
<br>

<div class="row">
  <div class="col-lg-6 col-md-offset-5">
<br>
<br>
<br>


  <div class="company-card cible">
      <div class="effect-left">
      </div>
        <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path Company.last.teampicture.url, height: 300, width: 400, crop: :fill %>');">
        <div class="card-btn">
          <%= link_to "Follow", follow_path(Company.last.id), class: "btn-follow-company"%>
        </div>
        <div class="card-score">
          <h3> 66% </h3>
        </div>
        <p class="card-description"><%= Company.last.name %></p>
        </div>
      <div class="effect-right">
      </div>
  </div>


<br>
<br>

  <div class="company-card-validate cible">
        <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path Company.first.teampicture.url, height: 300, width: 400, crop: :fill %>');">
        <div class="card-btn">
          <%= link_to "Followed", unfollow_path(Company.last.id), class: "btn-unfollow-company unfollow-js" %>
        </div>
        <div class="card-score">
          <h3> 66% </h3>
        </div>
        <p class="card-description"><%= Company.first.name %></p>
        </div>
  </div>

  </div>

  </div>
</div>
