
<br>
<br>
<br>

<h1>All Companies (#index): </h1>
<p>Find me in app/views/companies/index.html.erb</p>
<!--
<%= cl_image_tag(Value.last.icone.url, height: 75, width: 100, crop: :fill) %> -->

<% @companies.each do |company| %>
  <h1> <%= company.name %> </h1>
  <% if current_talent.following?(company) %>
    <%= "Followed !!    || " %>
    <%= link_to ">> unfollow <<", unfollow_path(company.id) %>

  <% else %>
    <%= link_to "follow", follow_path(company.id) %>
<!--     <%= simple_form_for([ company ]) do |form| %>
      <%= form.button :submit, 'follow' %>
    <% end %> -->
  <% end %>
  <p> <%= company.description %> </p>
  <p> <%= company.rating_score(current_talent) if current_talent %> % </p>
  <%= cl_image_tag(company.logo.url, height: 60, width: 80, crop: :fill) %>
<br>
<% end %>


