<div class="container">
<br>
<br>
<br>
  <h1> My companies </h1>
  <p>Follow the companies sharing your values</p>

  <div class="row">

    <% @companies.each do |company| %>
      <% if current_talent.following?(company) %>
        <div id='<%= "company_card_#{company.id}" %>'>
          <%= render 'followcard', company: company %>
        </div>
      <% else %>
        <div id='<%= "company_card_#{company.id}" %>'>
          <%= render 'unfollowcard', company: company %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div >
    <%= link_to "Validate my choices", feeds_path, class: "btn-float" %>
  </div>

</div>

