<div class="wrapper-test">

  <div class="container-test">

    <h1> My companies </h1>
    <p>Follow the companies sharing your values</p>

    <div class="row">
      <% company_array = [] %>
      <% current_talent.values.each do |value| %>
        <% CompanyValue.all.each do |companyvalue| %>
          <% if companyvalue.value_id == value.id %>
          <% company_array << [Company.find(companyvalue.company_id), value] %>
          <% end %>
        <% end %>
      <% end %>

      <% counts = Hash.new(0) %>
      <% list_values = Hash.new{ |h, k| h[k] = [] } %>
      <% company_array.each do |company| %>
        <% counts[company[0]] += 1 %>
        <% list_values[company[0]] << company[1] %>
      <% end %>

      <% counts = counts.sort_by {|k,v| v}.reverse.to_h %>

      <% counts.each do |company, y|  %>
        <% if current_talent.following?(company) %>
          <div id='<%= "company_card_#{company.id}" %>'>
            <%= render 'followcard', company: company %>
          </div>
        <% else %>
          <div id='<%= "company_card_#{company.id}" %>'>
            <%= render 'unfollowcard', company: company %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div >
      <%= link_to "Validate my choices", feeds_path, class: "btn-float" %>
    </div>

  </div>
</div>


